.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/Assets/*.md
content/Assets/*.pdf
content/Daily/
"content/Notes/Video Games/"
"content/Notes/Weekly Check-in/"
content/Projects/
content/School/
content/Sketchpad/
content/Templates/.DS_Store
